.registration-form {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }
  